# Ignore all .exe files
*.exe

# Ignore everything in .vscode except for specific files
.vscode/*
!.vscode/settings.json  # Example: keep settings.json
!.vscode/launch.json    # Example: keep launch.json
!.vscode/tasks.json     # Example: keep tasks.json
